:root {
    font-size: 16pt;
    font-family: "Arial";
    --primary: #002855;
    --secondary: #EAAA00;
    --accent1: #1C2B39;
    --accent2: #7F6310;
  }

.search-bar {
    height: 50px;
    border-radius: 40px;
    font-size: 12pt;
    padding: 10px 20px; 
    margin: 10px; 
    border: none;
}

select {
    border-radius: 40px;
    font-size: 1vw; 
    padding: 10px 20px; 
    margin: 10px; 
}

select option {
    background-color: var(--primary);
}

option:hover{
    background-color: var(--secondary);
}

.search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-results-list {
    padding: 10px;
    list-style-type: none;
    display: flex; 
    flex-direction: column;
    position: absolute;
    background-color: var(--primary);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 5%;
    width: clamp(450px, 40vw, 700px);
    max-height: 500px;
    overflow-y: scroll;
    z-index: 1;
}

.search-result-item {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 1vw;
    background-color: white;
    max-height: 150px;
}

.search-result-item:hover {
   transform: scale(1.05);
   transition-duration: 250ms;
}

.title {
    font-weight: bolder;
    min-width: 12vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 10px;
}

.title, .year {
    margin: 10px;
    font-size: clamp(10pt, 1.5vw, 14pt);
    text-align: left; /* Ensures text is aligned to the left */
}

.title-year-box {
    display: flex;
    align-items: center; /* Aligns items vertically in the center */
    justify-content: flex-start; /* Aligns items to the start of the box */
}

.movie-poster {
    width: 75px;
    height: auto;
}

.year {
    font-style: italic;
    text-align: left;
}

.overview {
    font-size: clamp(8pt, 1vw, 1vw);
}

.overview-box{
    margin: 10px;
    min-width: 8vw;
    max-height: 120px;
    margin-left: clamp(5px,2vw,20px);
    margin-right: clamp(5px,2vw,20px);
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 20px;
}

